In [10]:
import numpy as np
import pandas as pd
import urllib.request
import gzip
import shutil

In [11]:
# Download the dataset
url = "http://db.csail.mit.edu/labdata/data.txt.gz"
urllib.request.urlretrieve(url, "dataset/dataset.txt.gz")

# Unzip the downloaded file
with gzip.open('dataset/dataset.txt.gz', 'rb') as f_in, open('dataset/dataset.txt', 'wb') as f_out:
    shutil.copyfileobj(f_in, f_out)

# Load the unzipped data into a pandas DataFrame
df = pd.read_csv("dataset/dataset.txt", sep='\t')

# Save the data to a .csv file
df.to_csv("dataset/dataset.csv", index=False)
df.head()

  2004-03-31 03:38:15.757551 2 1 122.153 -3.91901 11.04 2.03397
0  2004-02-28 00:59:16.02785 3 1 19.9884 37.0933 ...
1  2004-02-28 01:03:16.33393 11 1 19.3024 38.4629...
2  2004-02-28 01:06:16.013453 17 1 19.1652 38.803...
3  2004-02-28 01:06:46.778088 18 1 19.175 38.8379...
4  2004-02-28 01:08:45.992524 22 1 19.1456 38.940...

In [12]:
data = pd.read_csv("dataset/dataset.csv", sep = ' ',header = None, names = ['date', 'time','epoch','moteid','temp','humidity','light','voltage'],index_col=False, dtype='unicode')
data.head()

         date             time epoch moteid     temp  humidity  light  voltage
0  2004-03-31  03:38:15.757551     2      1  122.153  -3.91901  11.04  2.03397
1  2004-02-28   00:59:16.02785     3      1  19.9884   37.0933  45.08  2.69964
2  2004-02-28   01:03:16.33393    11      1  19.3024   38.4629  45.08  2.68742
3  2004-02-28  01:06:16.013453    17      1  19.1652   38.8039  45.08  2.68742
4  2004-02-28  01:06:46.778088    18      1   19.175   38.8379  45.08  2.69964

In [13]:
data.shape

(2313682, 8)

In [14]:
data.columns

Index(['date', 'time', 'epoch', 'moteid', 'temp', 'humidity', 'light',
       'voltage'],
      dtype='object')

In [15]:
data.to_csv('dataset/raw_data.csv', index= False)